pip>=9

fastapi
uvicorn[standard]
pydantic

supabase

# dotenv  # For loading environment variables from .env files
# bs4 # For parsing HTML and XML documents
# requests  # For making HTTP requests
# pydantic


langchain
langchain-community
